@import "../../App.scss";
.main {
    width: 10%;
    display: flex;
    flex-direction: column;
    background-color: $primaryColor;
}
.sidebar-container {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-logo {
    margin: 30% 20%;
}
.logo {
    width: 100%;
    height: auto;
}

@media (max-width: 1023px) {
    .main {
        width: 15%;
    }
}
